.form {
    max-width: 500px;
    margin: 0 auto;
}

.login {
    color: var(--generalColor);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.error {
    color: #bf1650;
    margin: 5px;
}

.errorBorder {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: var(--borderRadiusCustom);
    color: var(--generalColor);
    margin-bottom: 10px;
    font-size: 23px;
    padding: 0 10px;
    height: 50px;
    font-weight: 400;
    outline: none;
    border: 1px solid red;
}

.error::before {
    display: inline;
    content: "⚠ ";
}

.submitInput {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);
    font-size: 25px;
    color: var(--generalColor);
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}

.submitInput:hover {
    background-color: var(--generalColor);
    color: white;
}

.textInput,
.textareaInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: var(--borderRadiusCustom);
    border: 1px solid var(--generalColor);
    color: var(--generalColor);
    margin-bottom: 10px;
    font-size: 23px;
    padding: 0 10px;
    height: 50px;
    font-weight: 400;
    outline: none;
}


.submitBtn {
    background: #ec5990;
    color: white;
    border: none;
    margin-top: 30px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

.submitBtn:hover {
    background: #bf1650;
}

.submitBtn:active,
.btnInput:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid var(--generalColor);
    opacity: 0.8;
}

.submitBtn:disabled {
    opacity: 0.5;
}

.btnInput:hover {
    transition: 0.3s all;
}

input[type="checkbox"] {
}

.submitBtn,
.btnInput,
.submitBtn {
    -webkit-appearance: none;
}


.Btn {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}


.button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

.labelTextInput {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: var(--generalColor);
    font-size: 26px;
}

.labelCheckbox {
    text-align: left;
    color: var(--generalColor);
    font-size: 26px;
}

.checkbox {
    margin-left: 10px;
    transform: scale(1.3);
}