.cardUser {
    cursor: pointer;

    display: flex;
    justify-content: space-between;

    width: 45%;
    margin: 0 1rem 0.5rem 0;
    padding: 0.5rem;

    text-decoration: none;

    background: var(--backgroundBox);
    border: 2px solid var(--backgroundColor);
    border-radius: var(--borderRadiusCustom);

    transition: 0.05s;
}

.cardUser:hover {
    border: 2px solid var(--generalColor);
    box-shadow: var(--shadow);
}

.userLogo {
    width: 80px;
    height: 80px;

    border-radius: var(--borderRadiusCustom);
}

.userLogoAvatar {
    width: 80px;
    height: 80px;

    border-radius: var(--borderRadiusCustom);
}

.userInformText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userName {
    overflow: hidden;

    color: var(--secondColor);
    text-overflow: ellipsis;
}

.userCountry {
    color: var(--grayColor);
}

.userPhrase {
    overflow: hidden;

    font-weight: 800;
    color: var(--secondColor);
    text-overflow: ellipsis;
}

.userInformText2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;
}

.followButton_TRUE {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50px;
    margin: 0 0 0 20px;

    font-size: 1.5em;
    font-weight: 600;
    color: var(--generalColor);

    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);
}

.followButton_TRUE:disabled {
    opacity: 0.5;
}

.followButton_FALSE {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50px;
    margin: 0 0 0 20px;

    font-size: 1.5em;
    font-weight: 600;
    color: white;

    background-color: var(--generalColor);
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);
}

.followButton_FALSE:disabled {
    opacity: 0.5;
}