.friendMsgTitle {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 0 0.5rem 0;
  padding: 0.6rem 0.4rem;

  background-color: var(--backgroundBox);
  border-radius: var(--borderRadiusCustom);
  box-shadow: var(--shadow);

  transition: 0.2s;
}

.friendMsgTitle:hover {
  background-color: var(--generalColor);
}

.friendMsgTitle:hover div {
  color: white;
}

.friendMsgTitle_ACTIVE {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 0 0.5rem 0;
  padding: 0.6rem 0.4rem;

  color: white;

  background-color: var(--generalColor);
  border-radius: var(--borderRadiusCustom);
  box-shadow: var(--shadow);

  transition: 0.2s;
}

.friendMsgTitle_ACTIVE div {
  color: white;
}

.avatarBoxMsg {
  width: 55px;
}

.titleMsgNameAndTextMsg {
  display: flex;
  flex-direction: column;

  width: 70%;

  transition: 0.2s;
}

.textMsgTitle {
  font-size: 23px;
  font-weight: 500;
  line-height: 29px;
  color: var(--secondColor);

  transition: 0.2s;
}

.timeMsgTitleFriend {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: var(--grayColor);

  transition: 0.2s;
}

.titleMsgUserName {
  font-size: 30px;
  font-weight: 600;

  transition: 0.2s;
}
