.pageNumberButton {
    cursor: pointer;

    margin: 0 0.5em 1rem 0;
    padding: 0.5rem 0.8rem;

    font-weight: 800;
    color: var(--generalColor);

    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);

    transition: 0.2s;
}

.pageNumberButton:hover {
    color: white;

    background-color: var(--generalColor);
}

.pageNumberButton_active {
    cursor: pointer;

    margin: 0 0.5em 1rem 0;
    padding: 0.5rem 0.8rem;

    font-weight: 800;
    color: white;

    background-color: var(--generalColor);
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);

    transition: 0.2s;
}

.btnControl {
    cursor: pointer;

    margin: 0 0.5em 1rem 0;
    padding: 0.5rem 1.4rem;

    font-size: 17px;
    font-weight: 800;
    color: var(--generalColor);

    background: none;
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);

    transition: 0.2s;
}

.btnControl:hover {
    color: white;

    background-color: var(--generalColor);
}