.userPhoto {
    width: 70px;
    height: 70px;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 50px;
}

.firstLayer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectedPage {
    margin: 3px;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
}

.notSelectedPage {
    margin: 3px;
    cursor: pointer;
}

.hidePage {
    display: none;
}

.preloader {
    display: block;
    margin: 80px auto;
}

.pagesList {
    margin-top: 20px;
    text-align: center;

}
