.userSlogan {
  overflow: hidden;

  max-width: 80%;

  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-overflow: ellipsis;
}

.editStatusInput {
  width: 90%;
  height: 25px;
  padding: 10px;

  font-size: 20px;
  font-weight: 700;
  color: var(--generalColor);

  border: 2px solid var(--generalColor);
  border-radius: var(--borderRadiusCustom);
  outline: none;
}

.setStatusButton {
  cursor: pointer;

  float: right;

  margin-top: 5px;
  padding: 7px 10px;

  font-size: 20px;
  font-weight: 700;
  color: var(--generalColor);

  border: 2px solid var(--generalColor);
  border-radius: var(--borderRadiusCustom);

  transition: 0.2s;
}

.setStatusButton:hover {
  color: white;

  background-color: var(--generalColor);
}
