.userSlogan {
    color: white;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;

}

.editStatusInput {
    outline: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    height: 25px;
    width: 90%;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
}

.setStatusButton {
    margin-top: 5px;
    float: right;
    font-size: 20px;
    font-weight: 700;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
    transition: 0.2s;
}

.setStatusButton:hover {
    background-color: var(--generalColor);
    color: white;
}
