.msgLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;

  margin: 0 0 0.8rem 0;
}

.msgAvatarFriend {
  width: 50px;
  height: 50px;
  margin: 0 0.5rem 0 0;

  transition: ease-in-out 0.2s;
}

.msgAvatarFriend:hover {
  transform: scale(1.2);
}

.textMsg {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  max-width: 60%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;

  font-size: 20px;
  font-weight: 500;
  line-height: 26px;

  background-color: var(--backgroundColor);
  border-radius: var(--borderRadiusCustom) var(--borderRadiusCustom) var(--borderRadiusCustom) 0;
}

.timeMsg {
  font-size: 18px;
  font-weight: 500;
  color: var(--grayColor);

  background-color: var(--backgroundColor);
  border-radius: 0 var(--borderRadiusCustom);
}
