.leftSideBar {
    width: auto;
    padding: 1rem 2rem 2rem 2rem;

    text-decoration: none;
}

.leftSideBar a {
    text-decoration: none;
}

.menuItem {
    cursor: pointer;

    display: flex;
    align-items: center;

    margin: 0 0 0.3rem 0;
    padding: 1rem 0 1rem 1.5rem;

    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    color: var(--secondColor);

    border: 2px solid var(--backgroundColor);
    border-radius: var(--borderRadiusCustom);

    transition: ease-in-out 0.1s;
}

.menuItem img {
    margin: 0 1rem 0 0;
}

.menuItem:hover {
    color: var(--generalColor);

    border: 2px solid var(--generalColor);
    box-shadow: var(--shadow);

}

.menuItem_active {
    cursor: pointer;

    display: flex;
    align-items: center;

    width: 300px;
    margin: 0 0 0.3rem 0;
    padding: 1rem 0 1rem 1.5rem;

    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    color: white;

    background-color: var(--generalColor);
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);
    box-shadow: var(--shadow);
}

.menuItem_active img {
    margin: 0 1rem 0 0;
}

.boxVerticalLine_active {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.verticalLine_active {
    width: 12px;
    height: 50px;
    margin: 0 1.5rem;

    background-color: white;
    border-radius: 50px;
}