.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconStyle {
    cursor: pointer;

    width: 60px;
    height: 60px;

    transition: ease-in-out .5s;
}

.iconStyle:hover {
    transform: scale(1.2) rotate(360deg);

    margin: 0 0.8rem 0 0;
}