.error {
  font-size: 18px;
  color: #bf1650;
}

.error::before {
  content: '⚠ ';

  display: inline;
}

.postTextField {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 1rem;

  font-size: 25px;
  font-weight: 500;
  color: var(--generalColor);
  word-break: break-word;

  background: #fff;
  border: 2px solid var(--generalColor);
  border-radius: var(--borderRadiusCustom);
  outline: none;
}

.submitBtn {
  cursor: pointer;

  width: 100%;
  margin: 0.5rem 0 0;
  padding: 0.8rem;

  font-size: 20px;
  font-weight: 700;
  color: var(--generalColor);

  background-color: #fff;
  border: 2px solid var(--generalColor);
  border-radius: var(--borderRadiusCustom);

  transition: 0.2s;
}

.submitBtn:hover {
  color: white;

  background-color: var(--generalColor);
}

.submitBtn:active {
  transform: translateY(3px);

  opacity: 0.8;
  border: 1px solid transparent;

  transition: 0.3s all;
}

.submitBtn:disabled {
  opacity: 0.5;
}

.boxPosts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0.5rem 0 0 0;
}

.boxPostsTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.createPostBox {
  width: 40%;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  color: var(--secondColor);
}

.myPostsBox {
  width: 60%;
  max-width: 60%;
  padding: 0 0 0 1rem;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  color: var(--secondColor);
}

.textareaAddPost {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 1rem;

  font-size: 25px;
  font-weight: 500;
  color: black;

  background: #ffffff;
  border: 2px solid var(--generalColor);
  border-radius: 10px;
  outline: none;
}

.textareaAddPost::placeholder {
  color: var(--generalColor);
}

.createPost {
  display: flex;
  flex-direction: column;
}

.addPostButton {
  cursor: pointer;

  margin: 0.5rem 0 0 0;
  padding: 0.8rem;

  font-size: 20px;
  font-weight: 700;
  color: var(--generalColor);

  background-color: white;
  border: 2px solid var(--generalColor);
  border-radius: var(--borderRadiusCustom);

  transition: 0.2s;
}

.addPostButton:hover {
  color: white;

  background-color: var(--generalColor);
}

.myPosts {
  margin: 0;
}

.createPostTitle,
.myPostsTitle {
  margin: 0 0 1rem 0;
}
